<html>
<head>
    <title>upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<form action="/upload_success" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form-label" for="fileId">-- Распознавание медицинских работников --</label>

        <input type="file" name="file" class="form-control" id="fileId"/>
    </div>
    
    <div class="form-group">
        <label class="form-label" for="koeffId">Выберите порог распознавания:</label>
        
        <input type="radio" name="koeff" id="koeff0" value="0.6">
        <label for="koeff0" style="margin-right: 15px">"0.6"</label>

        <input type="radio" name="koeff" id="koeff1" value="0.75" checked >
        <label for="koeff1" style="margin-right: 15px">"0.75"</label>

        <input type="radio" name="koeff" id="koeff2" value="0.89">
        <label for="koeff2" style="margin-right: 15px">"0.89"</label>

        <input type="radio" name="koeff" id="koeff3" value="0.97">
        <label for="koeff3">"0.97"</label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Выполнить распознавание</button>
    </div>
</form>
</body>
</html>
